header.navbar
    section.navbar-section  
        a(href='/api/patisseries')
            img(alt='PatiNode', src='/images/logo.jpg', width='70', height='70', border='0')
    section.navbar-section  
        a.btn.btn-primary(href='/api/patisseries/add')  Add 