header.navbar
    section.navbar-section  
        a.btn-link(href='/api/books/add') Add
        a.btn-link(href='#') Log In
    section.navbar-center
        img(src='', alt='logo')
    section.navbar-section  
        a.btn.btn-primary(href='/api/books/add')  Add
        a.btn-link(href='#') Log In    