header.navbar
    section.navbar-section  
        a.btn-link(href='/api/books') BooksOnNode
    section.navbar-center
        img(src='', alt='')
    section.navbar-section  
        a.btn.btn-primary.my-button(href='/api/books/add')  Add
        a.btn-link(href='#') Log In    