body {
    background-color: white;
}

img {
    width: 100%;
}   

a { 
    text-decoration: none; 
}

h1 {
    text-align: center;
}
 
.pages {
    font-size: 0.95rem;
}

.my-button {
    margin: 0.5rem;
    width: 5rem;
}

.card {
    margin-bottom: 1rem;
}

form {
    width: 60%;
    margin: auto;
    text-align: right;
}